body {
    background-color: #265073;
}


h1 {
    color: #9AD0C2;
    text-align: center;
    font-family: "Zen Tokyo Zoo", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #9AD0C2;
    text-align: left;
    margin-left: 3%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 50px;
    font-style: normal;
}

h3 {
    color: #9AD0C2;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 45px;
    font-style: normal;
}

p {
    color: #9AD0C2;
    font-family: "Jura", sans-serif;
    line-height: 1.5;
    font-optical-sizing: auto;
    font-size: 20px;
    font-style: normal;
    margin-left: 2.5%;
}

hr {
    height: 3px;
    border-width: 0;
    color: #9AD0C2;
    background-color: #9AD0C2;
}

nav {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    max-width: 100%;
}

nav ul {
    margin: 0 auto;
}

nav ul li {
    display: inline;
    padding: 150px;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    color: #F1FADA;
}

nav ul li a,
nav ul li a:after
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #F1FADA;
}

nav.stroke ul li a {
    position: relative;
}

nav.stroke ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #F1FADA;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed li {
    text-indent: -5px;
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    color: #9AD0C2;
    line-height: 1.6;
}

ul.dashed li::before {
    content: "-";
    text-indent: -5px;
}

.button {
    border: none;
    border-radius: 25px;
    background-color: #9AD0C2;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.button:hover
 {
    background-color: #8CBAAD;
    transition: .5 ease;
 }

.logolockup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square,
.triangle {
    width: 100%;
    max-width: 60px;
    min-width: 30px;
    height: auto;
}

.flex-layout {
    display: flex;
    gap: 70px;
    margin-bottom: 7%;
    max-width: 100%;
    padding: 0 10px;
}

.links-flex {
    display: flex;
    gap: 50px;
}

.column {
    float: left;
    width: 48.5%;
    padding: 10px;
    height: 420px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.home-column1 {
    float: left;
    width: 48.5%;
    padding: 10px;
    height: 600px;
}

.home-column2 {
    float: left;
    width: 48.5%;
    padding: 10px;
    height: 600px;
}

.home-row::after {
    content: "";
    display: table;
    clear: both;
}

.home-row img {
    width: 500px;
    height: auto;
    border: 6px solid #9AD0C2;
    border-radius: 100%;
    margin-top: 5%;
}

.projects-column1 {
    float: left;
    width: 45%;
    height: 450px;
}

.projects-column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 420px;
}

.projects-row::after {
    content: "";
    display: table;
    clear: both;
}

.book-column1 {
    float: left;
    width: 50%;
    height: 520px;
}

.book-column2 {
    float: left;
    width: 48%;
    padding: 10px;
    height: 500px;
}

.book-row::after {
    content: "";
    display: table;
    clear: both;
}

.book-column1 img {
    width: 92%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    transition: .5s ease;
}

.book-column1:hover img {
    opacity: .5;
}

.images-column {
    float: left;
    width: 48%;
    padding: 10px;
    height: 340px;
}

.images-row::after {
    content: "";
    display: table;
    clear: both;
}

.kirby-row {
    width: 50%;
    display: block;
    margin: auto;
}

.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}

.text {
    color: #9AD0C2;
    font-family: "Orbitron", sans-serif;
    font-size: 75px;
}

.portfolio-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 1em;
}

.images img {
    width: 100%;
    cursor: pointer;
    transition: 0.3s all ease;
}

.images img:hover {
    transform: scale(0.9);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 850px){
    nav {
        font-size: 20px;
    }

    nav ul li {
        display: block;
        padding: 10px;
        text-align: center;
        margin-right: 40px;
    }

    .text {
        font-size: 30px;
    }

    .modal-content {
        width: 100%;
        max-width: 400px;
    }

    .home-column1 {
        width: 95%;
        height: 700px;
    }

    .home-column2 {
        width: 95%;
        height: 500px;
    }

    .home-row img {
        width:400px;
    }

    .column {
        height: 600px;
        width: 85%;
    }

    .images-column {
        width: 90%;
        height: 350px;
    }

    .kirby-row {
        width: 90%;
        display: inline-block;
    }

    .projects-column1 {
        width: 100%;
        height: 300px;
    }

    .projects-column2 {
        width: 90%;
        height: 500px;
    }

    .book-column1 {
        width: 100%;
        height: 300px;
    }

    .book-column2 {
        width: 90%;
        height: 650px;
    }

    .center {
        display: flex;
        margin: auto;
    }

    .images {
        grid-template-columns: repeat(2, 1fr);
    }
}